<script src="https://unpkg.com/mirador@latest/dist/mirador.min.js"></script>
<!-- By default uses Roboto font. Be sure to load this or change the font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<!-- Container element of Mirador whose id should be passed to the instantiating call as "id" -->
<div id="my-mirador"/> 

<script type="text/javascript">
var mirador = Mirador.viewer({
  "id": "my-mirador",
  "manifests": {
    "{{ include.manifest | absolute_url }}": {
    }
  },
  "windows": [
    {
      "loadedManifest": "{{ include.manifest | absolute_url }}",
      "canvasIndex": 0,
      "thumbnailNavigationPosition": 'far-bottom'
    }
  ]
});
</script>