---
layout: generic_collection_item
pagination: true
meta:
  - label: 'Label'
    value: page.label
  - label: 'Film'
    value: page.film
  - label: 'Timestamp'
    value: page.timestamp
  - label: 'Description'
    value: page.alt
  - label: 'Angle'
    value: page.angle
  - label: 'Distance'
    value: page.distance
  - label: 'Location'
    value: page.location
  - label: 'Movement'
    value: page.movement
  - label: 'Lighting'
    value: page.lighting
  - label: 'Composition'
    value: page.composition
  - label: 'Duration'
    value: page.duration
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---
